@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }
  .dark {
    color-scheme: dark;
  }
  body {
    @apply bg-asphalt-50 dark:bg-asphalt-900 text-asphalt-900 dark:text-asphalt-50 font-sans antialiased;
  }
  * {
    @apply box-border;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
